/* =================================
  Footer and Contact Styles
==================================== */

.contact {
    font-family: 'Special Elite';

    a {
        padding: 15px;
    }
}

.phone p,
.email p{
    @extend .lists;            /*damit Überschrift und Link getrennter sind*/
}

.contact-text {
    @media #{$brk-narrow} {
        margin: auto;
        width: 60%; /*um den Text wie in der Vorlage nur über die halbe Breite zu setzen*/
    }
}

.contact-data {
    border-bottom: 1px solid $border-color;
}

footer {
    p,
    a,
    ul {
        display: inline;
        margin: 0;
        padding: 15px;
        margin-bottom: 3em;
    }
}

.footer-name {
    float: left;
}

.totop {
    @media #{$brk-narrow} {
        display: none; /*um einen device-spezifischen Footer auszuspielen*/
    }
}

.totop,
.nav-bottom {
    float: right;
    text-transform: uppercase;
}

.nav-bottom {
    display: none;

    @media #{$brk-narrow} {
        display: block;
    }

    li {
        @media #{$brk-narrow} {
            float: left;
            margin: 10px;
        }
    }
}

