
@mixin text($font-family, $size, $weight: null, $color: $primary-text-color) {
  font-family: $font-family;
  font-size: $size;
  font-weight: $weight;
  color: $color;

}

@mixin uppercase {
  text-transform: uppercase;
  color: $secondary-text-color;
}