/* =================================
  Media Queries
==================================== */


@media screen and (min-width: 768px){


    nav li{
        display: inline-block;
        background-color: inherit;
    }

    .intro p {
        float: left;
        width: 55%;
        text-align: left;
    }

    .profile-picture {
        float: right;
        width: 40%;
    }

    .col {
        width: 45%;
        float: left;
    }

    .col:nth-child(even) {
        clear: left;
        margin-right: 0px;
        }

    .contact-text {
        margin: auto;
        width: 60%; /*um den Text wie in der Vorlage nur über die halbe Breite zu setzen*/
    }

    .totop {
        display: none; /*um einen device-spezifischen Footer auszuspielen*/
    }

    .nav-bottom {
            display: block;
    }

    .nav-bottom li{
        float: left;
        margin: 10px;
    }


}

@media screen and (min-width: 1024px){

    h1,
    nav {
        margin-top: 22px; /*um die Navigation auf einer Höhe mit der H1 zu haben*/
    }

    h1 {
        float: left;
    }

    nav{
        float: right;
    }

    .col {
        width: 30%;
        float: left;
        margin-right: 0px;
    }

    .col:nth-child(even) {
        clear: none;
    }

    .col:nth-child(4n+1) {
        clear: left;            /*damit die Elemente noch in Dreierreihen bleiben, auch wenn eins mehr Text hat*/
    }


}


/* ---- Float clearfix ---- */

.clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
