/* =================================
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}

body {
    @include text($raleway-font-stack, 16px, $color: $primary-text-color);
    text-align: center;
    background-color: $body-color;
}


h2,
nav li {
    @include uppercase;
}

p {
    line-height: 1.5;
}

a,
a:visited {
    text-decoration: none;          /*macht die Linie unter den Links weg*/
    color: $secondary-text-color;
}

a:hover {
    background-color: $pink;
}




/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}